language: python

virtualenv:
  system_site_packages: false

env:
  matrix:
    # Ubuntu 14.04 versions
    - DISTRIB="conda" PYTHON_VERSION="2.7"
      NUMPY_VERSION="1.8.1" SCIPY_VERSION="0.13.3"
      SCIKIT_LEARN_VERSION="0.14.1" MATPLOTLIB_VERSION="1.3.1"
    # Ubuntu 14.04 versions without matplotlib
    - DISTRIB="conda" PYTHON_VERSION="2.7"
      NUMPY_VERSION="1.8.1" SCIPY_VERSION="0.13.3"
      SCIKIT_LEARN_VERSION="0.14.1"
    - DISTRIB="neurodebian" PYTHON_VERSION="2.7"
    # Most recent versions
    - DISTRIB="conda" PYTHON_VERSION="3.4"
      NUMPY_VERSION="*" SCIPY_VERSION="*"
      SCIKIT_LEARN_VERSION="*" MATPLOTLIB_VERSION="*" COVERAGE="true"

before_install:
- sudo apt-get update
- sudo apt-get install python3

python:
    - 2.7
    - 3.4

before_install:
    - bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
    - sudo apt-get install -qq python-scipy python-nose python-nibabel python-sklearn python-sympy python-networkx python-nipy python-nipype
    - sudo apt-get install -qq python-pip
    - pip install "nilearn>=0.1.3"
    - pip install coverage coveralls

install:
    - python setup.py install

script:
    - make clean
    - make test-code

after_success:
    - coveralls
