sudo: required
# dist: xenial


language: python

matrix:
  # Do not wait for the allowed_failures entry to finish before
  # setting the status
  fast_finish: true
  allow_failures:
    # allow_failures seems to be keyed on the python version
    - python: 2.7
  include:
    # Oldest supported versions (with neurodebian)
    - env: DISTRIB="conda" PYTHON_VERSION="2.7"
           NUMPY_VERSION="1.8.2" SCIPY_VERSION="0.14"
           SCIKIT_LEARN_VERSION="0.15.1" MATPLOTLIB_VERSION="1.3.1"
           PANDAS_VERSION="0.13.0" NIBABEL_VERSION="2.0.2" COVERAGE="true"
           NIPYPE_VERSION="0.13.0"
           NILEARN_VERSION="0.4.0"
           NETWORKX_VERSION="*"
           CONFIGOBJ_VERSION="*"
    # Most recent versions
    - env: DISTRIB="conda" PYTHON_VERSION="3.5"
           NUMPY_VERSION="*" SCIPY_VERSION="*" PANDAS_VERSION="*"
           SCIKIT_LEARN_VERSION="*" MATPLOTLIB_VERSION="1.3.1" COVERAGE="true"
           NIPYPE_VERSION="0.13.0"
           NILEARN_VERSION="0.4.0"
           NETWORKX_VERSION="*"
           CONFIGOBJ_VERSION="*"
    # FLAKE8 linting on diff wrt common ancestor with upstream/master
    # Note: the python value is only there to trigger allow_failures
    - python: 2.7
      env: DISTRIB="conda" PYTHON_VERSION="2.7" FLAKE8_VERSION="*" SKIP_TESTS="true"

virtualenv:
  system_site_packages: true

install: source continuous_integration/install.sh

script:
    - make clean
    - make test-code

after_success:
    - |
      if [[ "$COVERAGE" == "true" ]]; then
          coveralls || echo "coverage upload failed"
      fi
