#container
{
    margin: 0 auto;
    width: 100%;
    background: #fff;
}

#header
{
    background: #333;
    padding: 5px;
}

#header h1 { margin: 0; }

#navigation
{
    float: left;
    width: 100%;
    background: #000;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li a
{
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container1
{
    float: left;
    width: 100%;
    background: #fff url(/wp-content/uploads/layout-three-liquid-background1.gif) repeat-y 20% 0;
}

#content-container2
{
    float: left;
    width: 100%;
    background: url(/wp-content/uploads/layout-three-liquid-background2.gif) repeat-y 80% 0;
}

#section-navigation
{
    float: left;
    width: 0%;
    padding: 20px 0;
    margin: 0 0;
    display: inline;
    background: #333;
}

#section-navigation ul
{
    margin: 0;
    padding: 0;
}

#section-navigation ul li
{
    margin: 0 0 1em;
    padding: 0;
    list-style-type: none;
}

#content
{
    float: left;
    width: 95%;
    padding: 20px 0;
    margin: 0 0 0 2%;
}

#content h2 { margin: 0; }

#aside
{
    float: right;
    width: 16%;
    padding: 20px 0;
    margin: 0 2% 0 0;
    display: inline;
}

#aside h3 { margin: 0; }

#footer
{
    clear: both;
    background: #333;
    text-align: right;
    padding: 20px;
    height: 1%;
}
 
div.img
{
    margin:2px;
    border:1px solid #0000ff;
    height:auto;
    width:auto;
    float:left;
    text-align:center;
}

div.img img
{
    display:inline;
    margin:3px;
    border:1px solid #ffffff;
}

div.img a:hover img
{
    border:1px solid #0000ff;
}

div.desc
{
    text-align:center;
    font-weight:normal;
    width:100%;
    margin:2px;
}

/* HTML */
/* { */
/*     font-family: cursive; */
/* } */
